<configuration>
    <appender name = "myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
         <encoder>
             <pattern>
                 %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
             </pattern>
         </encoder>
    </appender>
    <appender name = "myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            journalApp.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                journalApp-%d{yy-MM-dd_HH-mm}.%i.log  <!-- har minute log banega -->
            </fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!-- it says ki agar file ki size 10 mb hojaye to new create kardo   -->
            <maxHistory>10</maxHistory> <!-- max 10 file hi reh sakti hai oldest one ko delete kardo -->
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="myConsoleAppender"/>
<!--        <appender-ref ref="myFileAppender"/>-->

    </root>
</configuration>



<!--appender is reponsible to output the logs in console or file-->